body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(27, 27, 27);
    
    color: white;
}
.head{
    margin-left: 2%;
    margin-right: 2%;
}

ul{
    
    margin: 2%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099fff;
    background-color: #18181B;
    box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 rgba(0, 0, 0, 0.9);

}

li{
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

li:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #099fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
}

li:hover:after{
transform: scaleX(1);
transform-origin: bottom;
}

.form{
    position: relative;
    width: 443px;
    height: 440px;
    left: 32%;
    margin-top: 2%;
    border-radius: 25px;
    border: 0.1px solid #099fff;
    background-color: #161616;
    box-shadow: 0 4px 8px 0 #00ffff, 0 6px 20px 0 rgba(0, 0, 0, 0.9);
}

.formu{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 70px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}




.nav-wrapper {
    
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 80px;
    border-radius: 15px;
    padding: 0 25px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 4px 8px 0 #07990e, 0 6px 20px 0 rgba(0, 0, 0, 0.9);
} 
footer{
    
    width: 99%;
    position: absolute;
    bottom: 0;
    
    
}
    ul{
        margin: 2%;
        
        flex-direction: row;
        list-style: none;
        padding: 25px 0;
        border-radius: 25px;
        display: flex;
    }
    
    li{
        margin: auto;
        color: rgb(0, 0, 0);
        font-size: 20px;
        cursor: pointer;
        display: inline-block;
        position: relative;
    }
    
    li:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: #07990e;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.4s ease-in-out;
    }
    
    li:hover:after{
    transform: scaleX(1);
    transform-origin: bottom;
    }
    
      
      .logo {
        align-items: center;
        width: 20PX;
        height: 20PX;
        margin-left: 35%;
      }
      .log{
        margin-left: 20px;
        margin: auto;
        width: 100%;
        height: 100%;
        
    }

    .label{
        text-align: left;
    }