<footer>
    <div class="nav-wrapper">
        <ul>
            <li>
                
                   <div class="logo">
                    <img class="log" src="assets/img/ubicacion.png" alt="">
                </div> 
                <DIV class="label">
                    Ubicacion
                </DIV>
                
                
                
            </li>
            <li>
                <div class="logo">
                    <img class="log" src="assets/img/agenda.png" alt="">
                </div> 
                <DIV class="label">
                    Contactanos
                </DIV>
            </li>
            <li>
                <div class="logo">
                    <img class="log" src="assets/img/facebook.png" alt="">
                </div> 
                <DIV class="label">
                    Facebook
                </DIV>
            </li>
            <li>
                <div class="logo">
                    <img class="log" src="assets/img/instagram.png" alt="">
                </div> 
                <DIV class="label">
                    Instagram
                </DIV>
        </li>
        </ul>
    </div>
</footer>