<form class="form">
    <h1>Login</h1>
    <div class="formu">
    <div class="input-group">
        <input type="text" class="input" placeholder=" " required>
        <label class="placeholder"> Username</label>
        
    </div>
</div>
<div class="formu">
    <div class="input-group">
        <input type="password" class="input" placeholder=" ">
        <label class="placeholder"> Contraseña</label>
        
    </div>
</div>
    <button class="button">
        <span class="text">Iniciar sesion</span>
    </button>
    
</form>